In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("tripadvisor_hotel_reviews.csv")

In [5]:
df

                                                Review  Rating
0    nice hotel expensive parking got good deal sta...       4
1    ok nothing special charge diamond member hilto...       2
2    nice rooms not 4* experience hotel monaco seat...       3
3    unique, great stay, wonderful time hotel monac...       5
4    great stay great stay, went seahawk game aweso...       5
..                                                 ...     ...
104  fairmont hotel singapore splendid, stayed fair...       5
105  great hotel stayed hotel night route perth chr...       4
106  great hotel centre stayed 5 nights room overlo...       4
107  great location great value great hotel husband...       5
108  lovely hotel great location stayed vacation to...       5

[109 rows x 2 columns]