<a href="https://colab.research.google.com/github/lavtrada/Python/blob/main/Python%20Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
if (2>5):
  print("five is greater then two")
else:
  print("two is greater then five ")

two is greater then five

In [ ]:
x=5;

j=5j
print(type(j))
print(type(x))

<class 'complex'>
<class 'int'>

In [ ]:
fruits=['apple','mango']
x,y=fruits
print(x)
print(y)

apple
mango

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [ ]:
from ast import main
fruit_tuple=('mango','apple')
print(fruit_tuple)

('mango', 'apple')

In [ ]:
b="Hello   World"
print(b[:5])

Hello

print(b.strip())

In [ ]:
txt="hello world "
print(txt)
ans=len(txt)
print(ans)

hello world
12

In [ ]:
print(5>2)
str="hello"
hre="world"
print(str==hre)

True
False

In [ ]:
my_list=[5,50,40,"str","edw"]
my_list[0]=50
my_list.append(4);
my_list.pop(1)
print(my_list)
print(my_list)
print(type(my_list))
print(my_list[-1])
print(my_list[:3])

[50, 40, 'str', 'edw', 4]
[50, 40, 'str', 'edw', 4]
<class 'list'>
4
[50, 40, 'str']

In [ ]:
my_list=[1,2,3,4,5,6]
print(my_list[-4:-1])
if 100 in my_list:
  print("10 is present")

[15, 20, 25]

In [ ]:
my_list[1:3]=["10","20"]
print(my_list)
my_list.append("orange")
my_list.insert(0,"mango")
print(my_list)
my_list2=[2,5,4,5]
my_list.extend(my_list2)
print(my_list)

['mango', '10', '20', '20', '20', '20', '20', '20', '20', '20', 20, 25, 30, 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5]
['mango', 'mango', '10', '20', '20', '20', '20', '20', '20', '20', '20', 20, 25, 30, 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5, 'orange']
['mango', 'mango', '10', '20', '20', '20', '20', '20', '20', '20', '20', 20, 25, 30, 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5, 'orange', 2, 5, 4, 5]

In [ ]:
thislist=["Hello","World"]
thistuple=('disteny')
thislist.extend(thistuple)
print(thislist)

['Hello', 'World', 'd', 'i', 's', 't', 'e', 'n', 'y']

In [ ]:
print(thislist)
thislist.pop()
print(thislist)
thislist.remove("Hello")
del thislist
print(thislist)

['World', 'd', 'i', 's', 't', 'e']
['World', 'd', 'i', 's', 't']

ValueError: list.remove(x): x not in list

In [ ]:
print(thislist)
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [ ]:
thislist=[1,2,3]
# print(thislist)
for i in range (len(thislist)):
  if thislist[i]==2:
    thislist[i]=20
  print(thislist[i])

1
20
3

In [ ]:
thislist=["orange","mango","kiwi","banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange']

In [93]:
thistuple=("mango","kiwi","orange","apple")
print(thistuple)
thislist=list(thistuple)
for x in range(len(thislist)):
  if thislist[x]=="mango":
    thislist[x]="Apple"
thistuple=tuple(thislist)
print(thistuple)

('mango', 'kiwi', 'orange', 'apple')
('Apple', 'kiwi', 'orange', 'apple')

In [94]:
mytuple=thistuple*2
print(mytuple)

('Apple', 'kiwi', 'orange', 'apple', 'Apple', 'kiwi', 'orange', 'apple')

In [102]:
for i in mytuple:
  print(len(i))

5
4
6
5
5
4
6
5

In [106]:
thislist=[11,22,22,33,33,44,55,66,66]
thisset=set(thislist)
print(thisset)
thisset.discard("22")
print(thisset)

{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 22, 55}

In [108]:
thisset={1,2,3,4,4,5,5,5,5}
thisset.discard(5)
print(thisset)

{1, 2, 3, 4}

In [109]:
this1={1,2,3,4}
this2={"orange","mango"}
this3=this1|this2
print(this3)

{1, 2, 3, 4, 'orange', 'mango'}

In [111]:
thisdict={"hello":"1",
          "world":"2"}
print(thisdict)

{'hello': '1', 'world': '2'}

In [112]:
for i in range(5):
  print(i)

0
1
2
3
4

In [114]:
ans=lambda a,b:a+b
print(ans(2,5))

7

In [120]:
class Car:
  def __init__(self,colour,size):
    self.colour=colour;
    self.size=size;
c1=Car("red",10)
print(c1.colour)
print(c1.size)

red
10

In [125]:
class Person:
  def __init__(self,fname,fage):
    self.name=fname
    self.age=fage
  def mufunc(self):
    print(self.name)
p1=Person("orange",665)
p1.mufunc()

orange